@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@SharedLocalizer["Forms"]</h3>
    </div>
    <div class="card-body">
        <table id="dtForms" class="table table-hover" style="width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>@SharedLocalizer["Name"]</th>
                    <th>@SharedLocalizer["Full path"]</th>
                    <th>@SharedLocalizer["Description"]</th>
                    <th>@SharedLocalizer["Chkout folder"]</th>
                    <th>@SharedLocalizer["Actions"]</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
<script src="~/js/form/form.index.js"></script>
    <script>
        form.localization({ update: "@SharedLocalizer["Update"]", display: "@SharedLocalizer["Display"]", details: "@SharedLocalizer["Details"]", toastr: { selectAtLeastOneContactMessage: "@Localizer["Please select at least one contact for this action"]" } });
        form.datatableInit("@Url.Action("GetFormsForDataTable", "Form")");
    </script>

}
