<!-- Delete lists modal -->
<div class="modal fade" id="deleteListsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["Are you sure? Lists will be permanently deleted"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <form asp-action="Delete" asp-antiforgery="true" class="getListsBeforeSubmit" id="deleteListsForm">
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label" style="font-weight: unset;">
                            @Localizer["Note: You cannot delete lists if they have sublists or contacts that belong to them"]
                        </label>

                        @*<div class="custom-control custom-radio">
                                <input type="radio" name="DeleteSubLists" id="yesRadio" value="True" class="custom-control-input" />
                                <label class="custom-control-label" for="yesRadio" style="font-weight: unset;">@SharedLocalizer["Yes"]</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="DeleteSubLists" id="noRadio" value="False" class="custom-control-input" checked />
                                <label class="custom-control-label" for="noRadio" style="font-weight: unset;">@SharedLocalizer["No"]</label>
                            </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@SharedLocalizer["Cancel"]</button>
                    <button type="submit" class="btn btn-danger">@SharedLocalizer["Delete"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
