@model WebMVC.ViewModels.UserGroup.UserGroupDetailsViewModel

@{
    ViewData["Title"] = Localizer["Group Details"];
}

<card title=@Localizer["Group Details"].Value>
    <card-body>
        <blockquote>
            <p>
                <dl class="row">
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.ParentGroup)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.ParentGroup)
                    </dd>
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayFor(model => model.ChildGroups)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.ChildGroups)
                    </dd>
                </dl>
            </p>
        </blockquote>
    </card-body>
</card>

<card asp-authorize asp-claims="@Permissions.UserRead" title=@Localizer["Users in group"].Value>
    <card-body>
        <table id="dtUsers" class="table table-hover" style="width:100%;"></table>
    </card-body>
</card>

<a asp-action="Index" class="btn btn-default">@SharedLocalizer["Back"]</a>

@section Scripts{
    <script>
        function datatableInit() {
            //***** USER DATATABLE SERVER SIDE *****
            userTable = $('#dtUsers').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    type: "POST",
                    url: "/User/UsersForDatatable",
                    data: function (d) {
                        d.groupIds = Array(1).fill(@Html.Raw(Model.Id));
                        return d;
                    },
                },
                responsive: {
                    details: {
                        type: 'column',
                        target: 0
                    }
                },
                rowId: 'Id',
                columnDefs: [
                    { targets: [0], data: null, className: 'control', defaultContent: '', orderable: false, searchable: false, },
                    { targets: [1], data: 'UserName', title: "@SharedLocalizer["Username"]" },
                    { targets: [2], data: 'FullName', title: "@SharedLocalizer["Full name"]" },
                    { targets: [3], data: 'Email', title: "@SharedLocalizer["E-mail"]" },
                    { targets: [4], data: 'PhoneNumber', title: "@SharedLocalizer["Phone number"]" },
                    {
                        data: "CreationDate",
                        targets: [5],
                        mData: function (d) { return moment(d.CreationDate).format("DD.MM.YYYY") },
                        title: "@Localizer["Date created"]",
                        searchable: false,
                        orderable: false,
                    },
                    {
                        targets: [6],
                        visible: @User.HasClaim(c => c.Type == "action" && c.Value =="user_edit").ToString().ToLower(),
                        searchable: false,
                        orderable: false,
                        title: "@SharedLocalizer["Actions"]",
                        className: 'text-center',
                        render: function (data, type, full, meta) {
                            var id = full.Id;
                            return `<a href="@Url.Action("Edit", "User")/?id=${id}" class="btn btn-xs btn-default">@SharedLocalizer["Edit"]</a>`;
                        }
                    }
                ]
            });
        }

        datatableInit();
    </script>
}
