@model WebMVC.ViewModels.Contact.ContactDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@Localizer["Contact details"]</h3>
    </div>

    <div class="card-body">
        <blockquote>
            <p>
                <dl class="row">
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-md-2 col-sm-3">
                        @Html.DisplayNameFor(model => model.Active)
                    </dt>
                    <dd class="col-md-10 col-sm-9">
                        @Html.DisplayFor(model => model.Active)
                    </dd>
                    <dt class="col-md-2 col-sm-3" asp-authorize asp-claims="list_read" >
                        @Html.DisplayNameFor(model => model.Lists)
                    </dt>
                    <dd class="col-md-10 col-sm-9" asp-authorize asp-claims="list_read" >
                        @Html.DisplayFor(model => model.Lists)
                    </dd>
                </dl>
            </p>
        </blockquote>
      
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-default">@SharedLocalizer["Back"]</a>
    </div>
</div>
