 <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/img/Algotech-logo-transp.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AlgoDOCS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@User.Identity.Name</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="https://adminlte.io/docs" class="nav-link">
                        <i class="nav-icon fa fa-book"></i>
                        <p>Pending</p>
                    </a>
                </li>
                <li class="nav-item has-treeview" remove-if-empty>
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-address-book"></i>
                        <p>
                            @Localizer["Contact management"]
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" asp-authorize asp-claims="@Permissions.ContactRead">
                            <a asp-controller="Contact" asp-action="Index" active-url="Contact" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@SharedLocalizer["Contacts"]</p>
                            </a>
                        </li>
                        <li class="nav-item" asp-authorize asp-claims="@Permissions.ListRead">
                            <a asp-controller="List" asp-action="Index" active-url="List" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@SharedLocalizer["Contact lists"]</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-user"></i>
                        <p>
                            <i class="fas fa-angle-left right"></i>
                            @Localizer["User management"]
                        </p>
                    </a>
                    <ul class="nav nav-treeview" remove-if-empty>
                        <li class="nav-item" asp-authorize asp-claims="@Permissions.UserRead">
                            <a asp-controller="User" asp-action="Index" active-url="User" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@SharedLocalizer["Users"]</p>
                             </a>    
                        </li>
                        <li class="nav-item" asp-authorize asp-claims="@Permissions.UserGroupRead">
                            <a asp-controller="UserGroup" asp-action="Index" active-url="UserGroup" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["User groups"]</p>
                             </a>
                        </li>
                        <li class="nav-item" asp-authorize asp-claims="@Permissions.RoleRead">
                            <a asp-controller="Role" asp-action="Index" active-url="Role" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@SharedLocalizer["Roles"]</p>
                             </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview" remove-if-empty>
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-address-book"></i>
                        <p>
                            @Localizer["Form management"]
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item" asp-authorize asp-claims="@Permissions.FormRead">
                            <a asp-controller="Form" asp-action="Index" active-url="Form" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@SharedLocalizer["Forms"]</p>
                            </a>
                        </li>
                        <li class="nav-item" asp-authorize asp-claims="@Permissions.FormGroupRead">
                            <a asp-controller="FormGroup" asp-action="Index" active-url="FormGroup" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@SharedLocalizer["Form groups"]</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" asp-authorize asp-claims="@Permissions.AuditRead">
                    <a asp-controller="AuditLog" asp-action="Index" active-url="AuditLog" class="nav-link">
                        <i class="nav-icon fa fa-edit"></i>
                        <p>@Localizer["Audit log"]</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://adminlte.io/docs" class="nav-link">
                        <i class="nav-icon fa fa-book"></i>
                        <p>@Localizer["Reports"]</p>
                    </a>
                </li>



                <li class="nav-header">MISCELLANEOUS</li>
                <li class="nav-item">
                    <a href="https://adminlte.io/docs" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>Documentation</p>
                    </a>
                </li>
                <li class="nav-header">LABELS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p class="text">Important</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-warning"></i>
                        <p>Warning</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p>Informational</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>